<h3><%= @ship.ship_name %></h3>
<p>Cargo slots: <%= @ship.cargo_slots %></p>
<br />
<% if @ship.manifests.empty? %>
    <p> It looks like you aren't hauling anything aboard this vessel.</p>
<% else %>
    <ol>
    <% @ship.manifests.each do |manifest| %>
       <li><%= manifest.item_name %>: <%= manifest.item_quantity %>
    <% end %> 
    </ol> 
<% end %>
<br />
<% if @ship.manifests.count < @ship.cargo_slots.to_i%>
    <form method="GET" action="/manifests/new">
        <input type="hidden" name="ship_id" value="<%= @ship.id %>">
        <input type="submit" value="Add manifest">
    </form>
<% else %>
    <p>Your ship is full of cargo.</p>
<% end %>
<form method="GET" action="/ships/<%= @ship.id %>/edit">
    <input type="submit" value="Edit this Ship">
</form>
<form method="POST" action="/ships/<%= @ship.id %>">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete this Ship">
</form>
<form method="GET" action="/captains/<%= "#{current_captain.id}" %>"> 
    <input type="submit" value="Back to Profile">
</form>